body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #f0f0f0;
}

h1 {
    color: #FE7CB0;
    font-size: 36px;
}
        
p {
    font-size: 18px;
}
        
.options {
    margin-top: 20px;
}
        
.options button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E75992;
    color: white;
    transition: background-color 0.3s;
}

.options button: hover {
    background-color: #DE94D1;
}

.result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.upper-images,
.lower-images {
    display: flex;
    justify-content: center;
}

.placeholder-image {
    max-width: 10%;
    width: auto;
    margin: 0 5px;
}
